$blue: #3B4CCA;
$yellow: #FFDE00;
$deepyellow: #B3A125;
$red: #FF0000;
$deepred: #CC0000;

.text-blue {
  color: $blue;
}

.text-yellow {
  color: $yellow;
}

.text-deepyellow {
  color: $deepyellow;
}

.text-red {
  color: $red;
}

.text-deepred {
  color: $deepred;
}